* {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 400px) {
  .NavBar {
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .NavBar .searchBox {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .NavBar .FiltersList {
    margin: 2.5vh;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .NavBar {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
  }
  .NavBar .searchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vh;
    margin-right: auto;
  }
  .NavBar .FiltersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5vh;
    margin-right: 5vh;
    margin-left: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .NavBar .searchBox {
    display: flex;
    flex-direction: column;
    display: grid;
  }
  .NavBar .FiltersList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .NavBar .searchBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 0.5vh;
    padding: 25px;
  }
  .NavBar .FiltersList {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
}